*

!*/

!*.ts
!*.spec.ts
!*.gitignore

!*.tsx
!*.css
!*.svg
!*.html
!*.proto
!*.json
!*.md
!*.js
!*.yml
!LICENSE
!*.sh

**/node_modules/
**/dist/
**/coverage/
docs/
*src/test-scripts/
*notes.md
*data/
certs/